#main_lay {
    width: 930px;
    margin-bottom: 15px;
    ;
}

#arrow_lay {
    position: relative;
    top: 78px;
    left: -4px;
    display: none;
}

#numpad_lay {
    display: none;
}

ul {
    padding: 0px;
}

ul li {
    list-style: none;
    float: left;
}

li div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(218, 218, 218);
    font-family: 'Abel', sans-serif;
    text-align: center;
}

.backspace {
    width: 100px;
}

.tab {
    width: 75px;
}

.capslock {
    width: 106px;
}

.shift {
    width: 137px;
}

.line4btn {
    width: 60px;
}

.space {
    width: 403px;
}

.number {
    width: 190px;
}

.numzero {
    width: 113px;
}

.numline0 {
    position: relative;
    margin-top: 0px;
}

.numgrid {
    position: relative;
    bottom: 16px;
    width: 250px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.numlongkey {
    height: 112px;
    line-height: 112px;
    margin-left: 7px;
}

@keyframes None {
    from {}
    to {}
}

@keyframes Glow {
    from {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--effect_color);
        box-shadow: 0 0 0px 0px var(--effect_color);
        opacity: 0.4;
    }
    to {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        box-shadow: 0 0 900px 1000px var(--effect_color);
        opacity: 0;
    }
}

@keyframes Circle {
    from {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--effect_color);
        box-shadow: 0 0 0px 0px var(--effect_color);
        opacity: 0.3;
        /* middle magenta */
    }
    to {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        box-shadow: 0 0 0px 1000px var(--effect_color);
        opacity: 0;
    }
}

.effect {
    border: 0;
    animation-name: var(--animation_name);
    animation-duration: 3s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.active {
    opacity: 1;
}

.inactive {
    opacity: 0;
}

.line0 {
    margin-top: 0px;
}