.login_body {
    display: grid;
    grid-template-rows: 150px 400px 150px;
}

.text_input {
    width: 400px;
    height: 50px;
    border: 0px;
    border-radius: 7px;
    background-color: #9C272C;
    color: white;
    outline: none;
}