@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Nanum+Myeongjo&family=Roboto:wght@700&display=swap');
body {
    margin: 0px;
}

.header {
    width: 100%;
    height: 150px;
    background-color: #9C272C;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.title {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.title_btn {
    height: 150px;
    line-height: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
}


/* 헤더 */

.contents_board_grid {
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    background-color: ivory;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #9C272C;
}

.board_left {
    /* background-color: aqua; */
    padding: 10px 5px 10px 10px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.board_middle {
    /* background-color: aqua; */
    padding: 10px 5px 10px 5px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.board_right {
    /* background-color: black; */
    padding: 10px 10px 10px 5px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
}

.content {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px -5px black;
    display: grid;
    grid-template-rows: 200px 1fr 30px;
}

.card_head {
    background-color: black;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.card_title {
    color: white;
    height: 200px;
    line-height: 200px;
    font-size: 40px;
    font-family: 'Nanum Gothic', sans-serif;
}

.notice_list {
    background-color: ;
    width: 100%;
}

.big_card {
    list-style: none;
    padding-left: 30px;
    font-size: 20px;
}

.small_card {
    list-style: none;
    padding-left: 30px;
    font-size: 20px;
}

ul.big_card>li {
    width: 485px;
    margin-bottom: 10px;
    font-family: 'Nanum Myeongjo', serif;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

ul.small_card>li {
    width: 345px;
    margin-bottom: 10px;
    font-family: 'Nanum Myeongjo', serif;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.more {
    border-radius: 0px 0px 10px 10px;
    background-color: rgba( 0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.more_text {
    height: 30px;
    line-height: 30px;
    color: gray;
}