<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<body style="background-color: aliceblue; text-align: center;">
        <div style="height: 100%; color:rgb(0, 102, 255); font-size: 100px; margin-top: 200px;">$0$<p style="height: 100%; color:rgb(0, 102, 255); font-size: 50px;">Where are You?</p></div>
    </body>
</html>