div.big_block {
    width: 100%;
    text-align: center;
}

div.login_block {
    width: 100%;
    height: 100px;
    text-align: center;
}

p.login_text {
    font-size: 100px;
}

div.login_text_box {
    width: 1px;
    height: 100px;
}

input.login_id {
    border: 3px solid rgb(172, 172, 172);
    display: relative;
    width:300px;
    height: 40px;
    padding: 0px;
    padding-left: 15px;
    border-radius: 20px;
}

input.login_id:focus {
    border: 3px solid rgb(212, 54, 54);
    outline: none;
}

input.login_pwd {
    border: 3px solid  rgb(148, 148, 148);
    display: relative;
    width:300px;
    height: 40px;
    padding: 0px;
    padding-left: 15px;
    border-radius: 20px;
}

input.login_pwd:focus {
    border: 3px solid rgb(212, 54, 54);
    outline: none;
}

input.id_btn {
    width: 320px;
    height: 40px;
    background-color: rgb(212, 54, 54);
    border:none;
    border-radius: 20px;
    color:white;
}

a.signup_link {
    text-decoration: none;
    color: black;
}

div.sign_text{
    width:70px;
    display: inline-block;
}

button.id_check_btn{
    width:90px;
    height: 46px;
    border-radius: 22px;
    background-color: rgb(212, 54, 54);
    border: none;
    color:white;
}

input.sign_id {
    border: 3px solid rgb(172, 172, 172);
    display: relative;
    width:200px;
    height: 40px;
    padding: 0px;
    padding-left: 15px;
    border-radius: 20px;
}

input.sign_id:focus {
    border: 3px solid rgb(212, 54, 54);
    outline: none;
}

select.college_select{
    border: 3px solid rgb(172, 172, 172);
    display: relative;
    width:150px;
    height: 45px;
    padding: 0px;
    padding-left: 15px;
    border-radius: 20px;
}

select.college_select:focus {
    border: 3px solid rgb(212, 54, 54);
    outline: none;
}

select.major_select{
    border: 3px solid rgb(172, 172, 172);
    display: relative;
    width:170px;
    height: 45px;
    padding: 0px;
    padding-left: 15px;
    border-radius: 20px;
}

select.major_select:focus {
    border: 3px solid rgb(212, 54, 54);
    outline: none;
}

select.grade_select{
    border: 3px solid rgb(172, 172, 172);
    display: relative;
    width:325px;
    height: 45px;
    padding: 0px;
    padding-left: 15px;
    border-radius: 20px;
}

select.grade_select:focus {
    border: 3px solid rgb(212, 54, 54);
    outline: none;
}

input.sign_btn {
    width: 320px;
    height: 45px;
    background-color: rgb(212, 54, 54);
    border:none;
    border-radius: 20px;
    color:white;
    margin-bottom: 100px;
}

input.input_college{
    border: 3px solid rgb(172, 172, 172);
    display: relative;
    width:140px;
    height: 40px;
    padding: 0px;
    padding-left: 15px;
    border-radius: 20px;
}

input.input_college:focus {
    border: 3px solid rgb(212, 54, 54);
    outline: none;
}