@font-face {
    font-family: 'Wemakeprice-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    min-width: 1350px;
}

body {
    background-color:white;
    margin: 0px;
    height: 100%;
    font-family: 'S-CoreDream-5Medium';
}

ul{
    margin: 0px;
    list-style: none;
    padding: 0px auto;
}

ul.leftlist li {
    display: flex;
    float: left;
    text-align: center;
    width: 150px;
    margin: 0px 20px;
    margin:0px auto;
}

div.header {
    padding-left: 50px;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    margin-left: 5rem;
    margin-right: 5rem;
    min-width: 1190px;
}

ul.icon_menu li{
    display: flex;
    float: left;
    text-align: center;
    margin: 0px 20px;
    margin:0px auto;
}

div.logo {
    /* background-color: blue; */
    height: inherit;
    margin-top: 30px;
    margin-left:100px;
}

a.navbar-brand {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

img.mainlogo {
    border-radius: 40%;
    opacity: 0.2;
}

span.title_text {
    font-family: 'Monoton', cursive;
    color: rgb(212, 54, 54);
    font-size:30px;
    font-weight:500;
    position: absolute;
    top: 35px;
    left: 150px;
}

form.searchbox {
    margin: 35px auto;
    height: inherit;
    text-align: center;
    display:flex;
}

select.category_btn {
    width:100px;
    height: 46px;
    border: none;
    cursor: pointer;
    padding: 0px;
    padding-left: 10px;
    border: 3px solid  rgb(212, 54, 54);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right:none;
}

select.category_btn:focus {
    outline: none;
}

input.search {
    border: 3px solid  rgb(212, 54, 54);
    display: relative;
    width:450px;
    height: 40px;
    padding: 0px;
    padding-left: 15px;
}

input.search:focus {
    outline: none;
}

input.search_btn {
    background-color: rgb(212, 54, 54);
    width:60px;
    height: 46px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 3px solid  rgb(212, 54, 54);
    padding: 0px;
    cursor: pointer;
}

a.header_menu {
    font-size: 11px;
    color: rgb(147, 147, 147);
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
}

.header_menu_icon {
    font-size: 35px;
    color: rgb(204, 23, 23);
    margin-right: 27px;
    cursor: pointer;
}

div.logout ul li a div{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    left:25px;
    bottom:40px;
    background-color: black;
    width:18px;
    height: 18px;
    border-radius: 50%;
    font-size: 5px;
    text-decoration: none;
    color:white;
}

div.logout {
    text-align: center;
    height: inherit;
    /* display: none; */
}

div.log_menu{
    margin-right: 10px;
    margin-bottom: 20px;
}

div.login {
    margin-top: 35px;
    height: inherit;
    /* display: none; */
}

div.main {
    /* background-color: rgb(253, 0, 0);  */
    margin-left: 5rem;
    margin-right: 5rem;
    min-width: 1100px;
}

div.promotion {
    width: 100%;
    height: 350px;
    min-width: 1350px;
}

div.promotion_image {
    width:100%;
    height: 350px;
    min-width: 1350px;
    position: absolute;
}

@keyframes promotion_animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes promotion_animation_reverse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.promotion_ani {
    animation-name: promotion_animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.promotion_ani_rev {
    animation-name: promotion_animation_reverse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

div.prev {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 225px;
    left: 220px;
}

div.next {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 225px;
    right: 220px;
}

a.lecture_item{
    width:100%;
    /* display:flex; */
    text-decoration: none;
    color:black;
}

div.today {
    width: 100%;
    height: 240px;
    padding-top:40px;
    display:grid;
    grid-template-columns: 1.3fr 5fr;
}

div.today_subtitle {
    display:table-cell;
    vertical-align: middle;
    width: 100%;
    font-size: 40px;
    margin-left: 3rem;
    font-size: 14.5px;
    padding-top:35px;
}

div.forfont{
    font-size: 2.5em;
}

div.subtitle {
    width: 100%;
    font-size: 20px;
    margin-left: 3rem;
    font-size: 25px;
}

ul.sample_list {
    text-align: center;
    display:flex;
    width: 100%;
    height:220px;
    padding: 0px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

div.sample {
    position: absolute;
    background-color: black;
    background-size: 100%;
    width: 150px;
    height: 190px;
    cursor: pointer;
    border-radius: 5px;
    margin:0px auto;
}

div.sample_text{
    text-align: right;
    position: relative;
    color:white;
    width:110px;
    height:130px;
    left:25px;
    top:55px;
    font-size: 19px;
    /* font-family: 'Do Hyeon', sans-serif; */
    text-shadow: 1px 2px black;
}

div.ranking {
    width: 100%;
    height: 600px;
    min-width: 1100px;
    margin-top:25px;
}

ul.ranking_list {
    text-align: center;
    display:flex;
    width: 100%;
    height:220px;
    padding: 0px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

ul.ranking_list2 {
    text-align: center;
    display:flex;
    width: 100%;
    height:220px;
    padding: 0px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* div.plz_center {
    text-align: center;
    display: inline-block;
} */

div.footer {
    width:100%;
    background-color: rgb(48, 48, 48);
    height: 100px;
    min-width: 1350px;
}

div.search_list_text{
    margin:0px;
    width:330px;
}

p.search_list_text{
    margin:0px;
    width:240px;
}

button.pay_btn{
    width:180px;
    height: 60px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    color:rgb(212, 54, 54);
    font-size: 25px;
    margin-top: 20px;
}

div.recipe{
    background-color:aliceblue;
    width:900px; 
    height:100%;
    display:grid; 
    grid-template-columns: 1fr; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 35px 0px;
    box-shadow: 1px 1px black;
}

div.total_bottom{
    display:grid; 
    grid-template-columns: 1fr 210px; 
    text-align: left; 
    width:900px; 
    height: 100px; 
    background-color: rgb(211, 37, 37); 
    margin:auto;
    box-shadow: 1px 1px black;
}

span.howmuch{
    font-size: 30px;
    color: white;
    margin-top: 30px;
    margin-left: 90px;
}

.category{
    color:white;
    font-size: 17px;
    margin-top: 50px;
}

.category2{
    color:white;
    margin-top: 50px;
}

ul.category li a{
    color:white;
    text-decoration: none;
}

ul.category2 li a{
    text-decoration: none;
    color:white;
}

@keyframes open_category {
    0% {
        height: 0px;
    }
    100% {
        height: 400px;
    }
}

.open_category {
    animation-name: open_category;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes close_category {
    0% {
        height: 400px;
    }
    100% {
        height: 0px;
    }
}

.close_category {
    animation-name: close_category;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

div.category_btn {
    position:absolute; 
    left:100px; 
    z-index: 1; 
    background-color: rgb(255, 255, 255); 
    width:150px; 
    height: 37px; 
    text-align: center; 
    padding-top: 7px;
    color: rgb(212, 54, 54);
    font-size: 20px;
    cursor: pointer;
}

div.category_btn2 {
    position:absolute; 
    left:100px; 
    z-index: 1; 
    background-color: rgb(212, 54, 54);
    color:white;
    width:150px; 
    height: 37px; 
    text-align: center; 
    padding-top: 7px;
    font-size: 20px;
    cursor: pointer;
}

table.lec_detail{
    border-right: dotted 2px black
}

table.lec_detail th{
    width:100px; 
    font-size:20px;
}

table.lec_detail td{
    font-size:20px;
}

.star{
    cursor: pointer;
    color:white;
    text-shadow: 0.5px 0.5px rgb(131, 122, 255);
}

#review{
    resize: none; 
    margin-left: 60px; 
    border-radius: 5px; 
    border: solid 3px rgb(145, 11, 11); 
    font-size: 20px;
    font-family: 'S-CoreDream-5Medium';
    padding:10px;
    background-color: rgb(255, 195, 195);
}

#review:focus{
    outline: none;
}

.review_btn{
    width:100px;
    margin-left: 25px; 
    border:none; 
    border-radius: 5px; 
    background-color: rgb(145, 11, 11); 
    font-size: 20px; 
    color:white;
    font-weight: bold;
    border: solid 3px rgb(107, 7, 7); 
}