<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/navbar'); -%>
            <div class="big_block">
                <p class="login_text">장바구니</p>
                <div class="main">
                    <div class="sample search_img"></div>
                    <div class="search_text">
                        <p>이름</p>
                        <p>교수</p>
                        <p>단대/전공</p>
                        <p>시간</p>
                        <p>학점</p>
                    </div>
                </div>
                <button>
            </div>
            <div>
                <%- include('layouts/footer'); -%>
    </body>

</html>