<div id="category" style="display: flex; height: 0px; padding-left: 90px; background-color: rgb(212, 54, 54); overflow: hidden;">
    <ul class="category">
        <li style="font-size:xx-large;">대구캠퍼스</li>
        <li>&nbsp</li>
        <li>&nbsp</li>
        <li>&nbsp</li>
        <li>&nbsp</li>
        <li>&nbsp</li>
        <li>&nbsp</li>
        <li>&nbsp</li>
        <li>&nbsp</li>
        <li>&nbsp</li>
        <li>&nbsp</li>
        <li style="margin-top: -10px;font-size:xx-large;">상주캠퍼스</li>
    </ul>
    <ul class="category2">
        <li><a href="category/inmun">인문대학</a></li>
        <li><a href="category/society">사회과학대학</a></li>
        <li><a href="category/nat">자연과학대학</a></li>
        <li><a href="/category/cec">경상대학</a></li>
        <li><a href="/category/law">법과대학</a></li>
        <li><a href="/category/eng">공과대학</a></li>
        <li><a href="/category/agri">농업생명과학대학</a></li>
        <li><a href="/category/edu">사범대학</a></li>
        <li><a href="/category/art">예술대학</a></li>
        <li>&nbsp</li>
        <li>&nbsp</li>
        <li>&nbsp</li>
        <li><a href="/category/eco">생태환경대학</a></li>
        <li><a href="/category/science">과학기술대학</a></li>
    </ul>
    <ul class="category2">
        <li><a href="/category/doctor">의과대학</a></li>
        <li><a href="/category/tooth">치과대학</a></li>
        <li><a href="/category/animal">수의과대학</a></li>
        <li><a href="/category/live">생활과학대학</a></li>
        <li><a href="/category/free">자율전공부</a></li>
        <li><a href="/category/nurs">간호대학</a></li>
        <li><a href="/category/it">IT대학</a></li>
        <li><a href="/category/drug">약학대학</a></li>
        <li><a href="/category/gov">행정학부</a></li>
        <li><a href="/category/mix">융합학부</a></li> 
    </ul>
    <ul class="category" style="margin-left: 70px;font-size:xx-large;">
        <li>강의 구분</li>
    </ul>
    <ul class="category2">
        <li><a href="/category2/교양">교양</a></li>
        <li><a href="/category2/기본소양">기본소양</a></li>
        <li><a href="/category2/전공기반">전공기반</a></li>
        <li><a href="/category2/교직">교직</a></li>
        <li><a href="/category2/일반선택">일반선택</a></li>
        <li><a href="/category2/전공필수">전공필수</a></li>
        <li><a href="/category2/전공">전공</a></li>
        <li><a href="/category2/융합전공">융합전공</a></li>
        <li><a href="/category2/전공심화">전공심화</a></li>
        <li><a href="/category2/공학전공">공학전공</a></li>
        <li><a href="/category2/연계전공">연계전공</a></li>
    </ul>
</div>